.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }


.navbar
{
    background-color: black !important;
}

.navbar-brand-logo
{
    padding-left: 15px;
    padding-right: 30px;
}

.navbar-nav .nav-item .nav-link:hover
{
    color: #ffcc2f !important;
}

.navbar-nav i
{
    color: #ffcc2f;
}

.navbar-nav a
{
    font-size: 0.8em;
    color: white !important;
}

.nav-item
{
    padding-right: 10px;
}
